@charset "ISO-8859-1";

 body{
 
 	margin:0px;
	padding:0px;
	font-family:sans-serif;
	background-image : linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url(../images/find.jpg);
	background-repeat : no-repeat;
	background-size: cover;
	background-position : center center;
	background-attachment : fixed;
 
 
 } 
 
 h1{
 margin: 0 0 10px;
 padding: 0;
 color: #28c9ac;
 font-size: 24px;
 }
 .box{
 position:absolute;
 top:50%;
 left:50%;
 transform: translate(-50%, -50%);
 width:500px;
 }
 
 input{
 position:relative;
 display: inline-block;
 font-size: 20px;
 box-sizing: border-box;
 transition: .5s;
 
 }
 
 input[type="text"]
 {
 background:#fff;
 width:340px;
 height: 50px;
 border: none;
 outline: none;
 padding: 0 25px;
 border-radius: 25px 0 0 25px;
 
 }
 
 
 
 input[type="submit"]
 {
 position: relative;
 left: -5px;
 border-radius: 0 25px 25px 0;
 width:150px;
 height: 50px;
 border:none;
 outline: none;
 cursor: pointer;
 background: yellow;
 color: #000;
 font-weight: bold;
 }
 
 input[type="submit"]:hover
 {
 background: #28c9ac;
 
 }
 
 
 
 
 
.btn1{
	font-family:"Roboto",sans-serif;
	font-size:18px;
	font-weight:bold;
	background: #28c9ac;
	width:160px;
	padding: 7px 35px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color:#000;
	border-radius: 5px;
	cursor:pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #000;
 
	
	
}


.btn1:hover, .btn:focus, .btn.active{
	box-shadow: 0 0 20px rgab(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	
}