@charset "ISO-8859-1";

body{
	margin:0px;
	padding:0px;
	font-family:sans-serif;
	background-image : linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(../images/back1.jpg);
	background-repeat : no-repeat;
	background-size: cover;
	background-position : center center;
	background-attachment : fixed;
 
}

	
	

 


.btn1{
	float: right;
	margin-left: 49%;
	margin-top: 100px;
	margin-right: 10%;
	font-family:"Roboto",sans-serif;
	font-size:18px;
	font-weight:bold;
	background: #28c9ac;
	width:160px;
	padding: 7px 35px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color:#000;
	border-radius: 5px;
	cursor:pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #000;
 
	
	
}

.btn1:hover, .btn:focus, .btn.active{
	box-shadow: 0 0 20px rgab(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	
}




.btn2{
	float: right;
	margin-left: 49%;
	margin-top: 30px;
	margin-right: 10%;
	font-family:"Roboto",sans-serif;
	font-size:18px;
	font-weight:bold;
	background: #28c9ac;
	width:160px;
	padding: 7px 35px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color:#000;
	border-radius: 5px;
	cursor:pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #000;
 
	
	
}

.btn2:hover, .btn:focus, .btn.active{
	box-shadow: 0 0 20px rgab(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	
}




.title{
	
	float: right;
	margin-left: 49%;
	margin-top: 20px;
	margin-right: 10%;
 
}

.title h1{
	color: #28c9ac;
	font-size: 70px;
}
	
